

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(../images/html-and-css-collage-concept-with-person.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;  
}

.container {
    /* max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px black; */
    position: relative;
    top: 100px;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

h1 {
    text-align: center;
    text-align: center;
    font-size: 5.5em;
    letter-spacing: 80px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

form[id="task-form"] {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.task-form {
    margin-top: 20px;

}

input[type="text"],
textarea {
    display: flex;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0; display: flex;
    justify-content: center;
    align-content: center
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap:40px;
    /* transform: translate(-50%, -50%); */
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    /* width: 500px; */
    height: 60px;
}

li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li button:hover {
    background-color: #3b1da7;
}


@keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }